/* FIXME: 这样写样式好割裂啊 */
.track {
  /* display: grid; */
  grid-template-columns: [index] 16px [first] 4fr [last] minmax(120px,1fr);
  /* grid-gap: 16px;
  align-items: center; */
}

.track__index {
  position: relative;
  width: 24px;
  height: 24px;
  display: grid;
  place-items: center;
}

.track__index i {
  position: absolute;
}

.track:hover .track__index span {
  visibility: hidden;
}

.track__icon {
  @apply invisible cursor-pointer transition duration-300 hover:(transform scale-125);
}
.track:hover .track__icon {
  @apply visible;
}
